* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sen', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b9e2;
}
form {
    font-size: 1.2rem;
}
label {
    padding: 0 10px;
    color: black;
}
input {
    outline: 4px solid #db5e40!important;
    position: sticky;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
    color: #db5e40;
}
button {
	background:linear-gradient(to bottom, #f0613e 5%, #ce401d 100%);
	background-color:#fff6f2;
	border-radius:10px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1.2rem;
	padding:15px 31px;
	text-decoration:none;
    margin: 10px;
}
button:hover {
	background:linear-gradient(to bottom, #f3e1d2 5%, #e0bda1 100%);
	background-color:#5cbf2a;
    color:#db5e40;
}
button:active {
	position:relative;
	top:1px;
}
img {
    height: inherit;
    width: inherit;
    border-radius: 10px;
}

h1 {
    color: #db5e40;
    padding: 40px;
    font-size: 3rem;
}











.container {
    width: 70%; /* Set the container to take up the full width of the screen */
    background-color: #fff6f2;
    padding: 40px;
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  }

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-content {
    text-align: center;
    color:#fff6f2;
    height: inherit;
    
    
}
.sub-container {
    display: flex; /* Use flexbox to arrange the subcontainers horizontally */
    flex-direction: column; /* Change the direction to column to arrange the subcontainers vertically */
    justify-content: center;
    align-items: center;
  }
  .row-one,
  .row-two, .row-three {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .row-one {
    margin: 40px 0; /* Add some spacing between the two rows */
  }











.tile {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #db5e40;
}


.ikonka {
    width: 65px;
    height: 65px;

}
  

.miasto {
    width: 150px;
    height: 65px;

}

.temperatura {
    width: 120px;
    height: 65px;

}

.wilgotnosc {
    width: 140px;
    height: 65px;

}

.wiatr {
    width: 84px;
    height: 65px;

}

.mapka {
    width: 271px;
    height: 90px;
    margin-left: 100px;

}

.wykres {
    width: 543px;
    height: 140px;
    margin-right: 100px;

}

.wiadomosci {
    color: #fff6f2;
    margin-top: 30px;
    font-size: 1rem;
    padding: 20px;
}
